@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #E4DCCF;
}

.enter-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.enter-btn button {
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 500;
  background: #576F72;
  color: #F0EBE3;
  padding: 15px 30px;
  font-family: "Poppins", sans-serif;
}
.enter-btn button .logo {
  width: 40px;
  margin-right: 2px;
}

.info-box {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  background: #F0EBE3;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}
.info-box.active-info {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.info-box .info-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 35px;
  height: 60px;
  width: 100%;
  border-bottom: 2px solid #E4DCCF;
  font-size: 20px;
  font-weight: 600;
}
.info-box .info-list {
  padding: 15px 35px;
}
.info-box .info-list .info {
  margin: 5px 0;
  font-size: 17px;
}
.info-box .info-list .info span {
  font-weight: 600;
  color: #7D9D9C;
}
.info-box .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 35px;
  height: 60px;
  border-top: 2px solid #E4DCCF;
}
.info-box .buttons button {
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  height: 40px;
  width: 100px;
  background: #7D9D9C;
  color: #F0EBE3;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.4s ease;
}
.info-box .buttons button:hover {
  background: #F0EBE3;
  color: #7D9D9C;
  border: 2px solid #7D9D9C;
}

.quiz-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  background: #F0EBE3;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.quiz-box.active-quiz {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.quiz-box header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 35px;
  border-bottom: 2px solid #E4DCCF;
}
.quiz-box header .title {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: #576F72;
}
.quiz-box header .title .logo {
  width: 30px;
  margin-right: 2px;
}
.quiz-box header .timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  width: 145px;
  height: 45px;
  background: #E4DCCF;
  padding: 0 8px;
}
.quiz-box header .timer .time-text {
  font-weight: 500;
  font-size: 17px;
  user-select: none;
}
.quiz-box header .timer .time-second {
  font-size: 18px;
  font-weight: 500;
  background: #7D9D9C;
  height: 30px;
  width: 45px;
  color: #F0EBE3;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  user-select: none;
}
.quiz-box section {
  padding: 15px 35px;
}
.quiz-box section .question-text {
  font-size: 20px;
  font-weight: 500;
}
.quiz-box section .option-list {
  padding: 20px 0;
  display: block;
}
.quiz-box section .option-list .option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border: 2px solid #7D9D9C;
  border-radius: 5px;
  padding: 8px 15px;
  margin-bottom: 15px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.quiz-box section .option-list .option:hover {
  color: #576F72;
}
.quiz-box section .option-list .option .icon-true {
  color: #09ac09;
}
.quiz-box section .option-list .option .icon-false {
  color: #df3445;
}
.quiz-box section .option-list :last-child {
  margin-bottom: 0px;
}
.quiz-box footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  padding: 0 35px;
  border-top: 2px solid #E4DCCF;
}
.quiz-box footer .total-question span {
  display: flex;
  align-items: center;
  user-select: none;
}
.quiz-box footer .total-question span p {
  font-weight: 600;
  padding: 0 5px;
}
.quiz-box footer .total-question span :first-child {
  padding-left: 0px;
}
.quiz-box footer .next-btn {
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  height: 40px;
  width: 100px;
  background: #7D9D9C;
  color: #F0EBE3;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.4s ease;
}
.quiz-box footer .next-btn:hover {
  background: #F0EBE3;
  color: #7D9D9C;
  border: 2px solid #7D9D9C;
}

.result-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  background: #F0EBE3;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0 25px 30px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.result-box .crown {
  width: 250px;
}
.result-box .complete-text {
  font-size: 25px;
  font-weight: 600;
}
.result-box span {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 17px;
  font-weight: 500;
}
.result-box span p {
  font-weight: 600;
  padding: 0 4px;
}
.result-box span :last-child {
  padding-right: 0px;
}
.result-box button {
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  height: 40px;
  width: 100px;
  background: #7D9D9C;
  color: #F0EBE3;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  transition: all 0.4s ease;
}
.result-box button:hover {
  background: #F0EBE3;
  color: #7D9D9C;
  border: 2px solid #7D9D9C;
}/*# sourceMappingURL=main.css.map */