.info-box{
    @include display-none;
    @include position;
    @include box;
    .info-title{
        @include flex;
        justify-content: flex-start;
        padding: 0 35px;
        height: 60px;
        width: 100%;
        border-bottom: 2px solid $beige;
        font-size: 20px;
        font-weight: 600;
    }
    .info-list{
        padding: 15px 35px;
        .info{
            margin: 5px 0;
            font-size: 17px;
            span{
                font-weight: 600;
                color: $vert-casse;
            }
        }
    }
    .buttons{
        @include flex;
        justify-content: flex-end;
        padding: 0 35px;
        height: 60px;
        border-top: 2px solid $beige;
        button{
            @include button;
            transition: all 0.4s ease;
            &:hover{
                background: $blanc-casse;
                color: $vert-casse;
                border: 2px solid $vert-casse;
            }
        }
    }
}