.quiz-box{
    @include position;
    @include box;
    @include display-none;
    &.active-quiz{
        @include display-block;
    }
    header{
        @include flex;
        justify-content: space-between;
        height: 70px;
        padding: 0 35px;
        border-bottom: 2px solid $beige;
        .title{
            @include flex;
            font-size: 25px;
            font-weight: 600;
            color: $vert-noir;
            .logo{
                width: 30px;
                margin-right: 2px
            }
        }
        .timer{
            @include flex;
            justify-content: space-between;
            border-radius: 5px;
            width: 90px;
            height: 45px;           
            background: $beige;           
            padding: 0 8px;
            .time-icon{
                font-size: x-large;
                color: $vert-noir;
                user-select: none;
            }
            .time-second{
                font-size: 18px;
                font-weight: 500;
                background: $blanc-casse;
                height: 30px;
                width: 45px;
                color: $vert-noir;
                border: 2px solid $vert-noir;
                border-radius: 5px;
                text-align: center;
                line-height: 28px;
                user-select: none;
            }
        }
    }
    section{
        padding: 15px 35px;
        .question-text{
            font-size: 20px;
            font-weight: 500;
        }
        .option-list{
            padding: 20px 0;
            display: block;
            .option{
                // @include flex;
                // justify-content: space-between;
                background: $blanc;
                border: 2px solid $vert-casse;
                border-radius: 5px;
                padding: 8px 15px;
                margin-bottom: 15px;
                font-size: 17px;
                cursor: pointer;
                transition: all 0.4s ease;
                &.disabled{
                    pointer-events: none;
                }
                &:hover{
                    color: $vert-noir;
                }
            }
            :last-child{
                margin-bottom: 0px;
            }
        }
    }
    footer{
        @include flex;
        justify-content: space-between;
        height: 70px;
        width: 100%;
        padding: 0 35px;
        border-top: 2px solid $beige;
        .total-question{
            span{
                @include flex;
                position: relative;
                width: 250px;
                user-select: none;
                p{
                    font-weight: 600;
                    padding: 0 5px;
                }
                :first-child{
                    padding-left: 0px;
                }
                &::before{
                    z-index: -10;
                    position: absolute;
                    content: '';
                    left: 60px;
                    height: 12px;
                    width: 100%;
                    background: $beige;
                    border-radius: 10px;
                }
                &::after{
                    z-index: -1;
                    position: absolute;
                    content: '';
                    left: 60px;
                    height: 12px;
                    width: var(--bar-progress);
                    background: $vert-noir;
                    transition: all ease 1s;
                    border-radius: 10px
                }
            }
                
        }
        .next-btn{
            @include button;
            &:hover{
                background: $blanc-casse;
                color: $vert-casse;
                border: 2px solid $vert-casse;
            }
        }
    }
}