.result-box{
    @include position;
    @include box;
    @include flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 0 25px 20px;
    @include display-none;
    &.active-result{
        @include display-block;
    }
    // opacity: 10;
    .logo{
        width: 150px;
    }
    .complete-text{
        font-size: 25px;
        font-weight: 600;
    }
    .score-text span{
        @include flex;
        margin: 10px 0;
        font-size: 17px;
        font-weight: 500;
        p{
            font-weight: 600;
            padding: 0 4px;
        }
    }
    .explication{
        @include flex;
        flex-direction: column;
        padding: 15px;
        height: 350px;
        background-color: $beige;
        border-radius: 5px;
        overflow-y: auto;
        text-align: start;
        .correction{
            padding: 10px;
            margin-right: 0;
            width: 400px;
            height: auto;
            background-color: $blanc-casse;
            margin-bottom: 8px;
            border-radius: 5px;
            border-left: 6px solid $rouge;
            .incorrect-question{
                font-size: 15px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            .your-answer{
                @include answer($rouge, $rouge);
            }
            .incorrect-reponse{
                @include reponse($rouge);
                margin-bottom: 8px;
            }
            .correct-answer{
                @include answer($vert, $vert);
            }
            .correct-reponse{
                @include reponse($vert);
            }
        }
    }
    button{
        @include button;
        margin-top: 15px;
        transition: all 0.4s ease;
        &:hover{
            background: $blanc-casse;
            color: $vert-casse;
            border: 2px solid $vert-casse;
        }
    }
}