.start-btn{
    @include position;
    button{
        @include style-button;
        @include flex;
        font-size: 35px;
        font-weight: 500;
        background: $vert-noir;
        color: $blanc-casse;
        padding: 15px 30px;
        font-family: $poppins, $sans-serif;
        .logo{
            width: 40px;
            margin-right: 2px;
        }
    }
}