.start-btn{
    @include position;    
    button{
        @include style-button;
        font-size: 25px;
        font-weight: 400;
        background: $vert-noir;
        color: $blanc-casse;
        padding: 20px 30px;
        font-family: $poppins, $sans-serif;
    }
}