@mixin style-button {
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@mixin button{
    @include style-button;
    margin: 0 5px;
    height: 40px;
    width: 100px;
    background: $vert-casse;
    color: $blanc-casse;
    font-size: 16px;
    font-weight: 500;
}

@mixin position {
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin box {
    width: 550px;
    background: $blanc-casse;
    border-radius: 5px;
    font-family: $poppins, $sans-serif;
}

@mixin display-none {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

@mixin display-block {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}